set_io --warn-no-port spi_clk 15
set_io --warn-no-port spi_miso 17
set_io --warn-no-port spi_out 14
set_io --warn-no-port spi_cs 16

set_io --warn-no-port data[0] 42
set_io --warn-no-port data[1] 43
set_io --warn-no-port data[2] 44
set_io --warn-no-port data[3] 45
set_io --warn-no-port data[4] 46
set_io --warn-no-port data[5] 47
set_io --warn-no-port data[6] 48
set_io --warn-no-port data[7] 2

set_io --warn-no-port address[0] 35
set_io --warn-no-port address[1] 34
set_io --warn-no-port address[2] 32
set_io --warn-no-port address[3] 31
set_io --warn-no-port address[4] 28
set_io --warn-no-port address[5] 27
set_io --warn-no-port address[6] 26
set_io --warn-no-port address[7] 25
set_io --warn-no-port address[8] 23
set_io --warn-no-port address[9] 21
set_io --warn-no-port address[10] 20
set_io --warn-no-port address[11] 19
set_io --warn-no-port address[12] 18
set_io --warn-no-port address[13] 13

set_io --warn-no-port address[14] 12
set_io --warn-no-port address[15] 11

set_io --warn-no-port wr 4
set_io --warn-no-port rd 3

set_io --warn-no-port dataoutenable 6
set_io --warn-no-port busenable 9

set_io --warn-no-port diag_spi_cs 37
set_io --warn-no-port rwait 10
set_io --warn-no-port rst 36

set_io --warn-no-port bwait 38

set_io --warn-no-port led_blue 39
set_io --warn-no-port led_green 40
set_io --warn-no-port led_red 41